body
{
    font-family: 'Libre Baskerville', serif;
    text-rendering: optimizeLegibility;
    font-size: 15.54pt;
    letter-spacing: 0.60pt;
    line-height: 1.35;
    text-align: justify;
}
.page-container
{
	display: block;
}
.text-container
{
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: 5vw;
    margin-right: 5vw;
	width: 90vw;
}
.toc-container
{
    display: none;
	width: 20vw;
	height: 100vh;
	min-height: 100vh;
}
.toc
{
	margin-top: 42vh;
	width: 20vw;
	border-right: 1px solid;
	font-variant: small-caps;
}
.toc-heading
{
	font-variant: small-caps;
	margin-bottom: 3vh;
	text-align: center;
	font-size: 16.1pt;
}
li
{
	margin-bottom: 1vh;
}
p
{
    hyphens: auto;
}
h1
{
    font-size: 23.91pt;
    text-align: left;
}
h2
{
    font-size: 17.93pt;
    text-align: left;
}
h3
{
    font-size: 16pt;
    text-align: left;
}
a
{
    font-variant: small-caps;
    text-decoration: none;
    letter-spacing: 0.84pt;
    color: black;
}
a:hover
{
    text-decoration: underline;
}
.info-container
{
    margin-bottom: 9%;
    font-variant: small-caps;
    letter-spacing: 0.84pt;
    font-size: 10.76pt;
}
.author
{
    float: left;
}
.date
{
    float: right;
}
.summary
{
    font-style:italic;
    letter-spacing: 0.60pt;
    margin-bottom: 4%;
}
blockquote
{
    margin-left: 5%;
    margin-right: 5%;
    font-style: italic;
    quotes: "\201C" "\201D" "\2018" "\2019";
}
blockquote:before 
{
    content: open-quote;
    font-size: 35.87pt;
    line-height: 0.84pt;
    margin-right: 3.00pt;
    vertical-align: -12pt;
}
blockquote:after 
{
    content: close-quote;
    font-size: 35.87pt;
    line-height: 0.84pt;
    margin-right: 3.00pt;
    vertical-align: -12pt;
}
img
{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}
.image-caption
{
    font-style: italic;
    width: 88%;
    margin-left: 6%;
    margin-right: 6%;
}
