body
{
    font-family: 'Crimson', serif;
    text-rendering: optimizeLegibility;
    font-size: 19pt;
    font-feature-settings: "kern";
    line-height: 1.35;
    text-align: justify;
    hyphens: auto;
}
.text-container
{
    padding-left: 10%;
    padding-right: 10%;
    max-width: 800px;
    margin: 0 auto;
    padding-top: 2vh;
    padding-bottom: 2vh;
}
/*
.toc-container
{
	width: 20vw;
	height: 100vh;
	min-height: 100vh;
}
.toc
{
	margin-top: 42vh;
	width: 20vw;
	border-right: 1px solid;
	font-variant: small-caps;
}
.toc-heading
{
	font-variant: small-caps;
	margin-bottom: 3vh;
	text-align: center;
	font-size: 1.35em;
}

li
{
	margin-bottom: 1vh;
}
*/
p
{
    hyphens: auto;
    margin-bottom: 15pt;
}
h1
{
    font-size: 33pt;
    text-align: left;
}
h2
{
    font-size: 22pt;
    text-align: left;
    margin-top: 20pt;
    margin-bottom: 15pt;
}
h3
{
    font-size: 19pt;
    text-align: left;
    margin-top: 20pt;
    margin-bottom: 15pt;
}
a
{
    font-variant: small-caps;
    font-feature-settings: "smcp";
    text-decoration: none;
    letter-spacing: 0.07em;
    color: black;
    transition: border-bottom 300ms;
    border-bottom: 1px solid transparent;
}
a:hover
{
    border-color: black;
}
.info-container
{
    margin-bottom: 9%;
    font-variant: small-caps;
    letter-spacing: 0.07em;
    font-size: 0.9em;
}
.author
{
    float: left;
}
.date
{
    float: right;
}
.summary
{
    font-style:italic;
    letter-spacing: 0.05em;
    margin-bottom: 4%;
}
blockquote
{
    margin-left: 2em;
    margin-right: 2em;
    font-style: italic;
    quotes: "\201C" "\201D" "\2018" "\2019";
}
blockquote:before 
{
    content: open-quote;
    font-size: 3em;
    line-height: 0.07em;
    margin-right: 0.25em;
    vertical-align: -0.47em;
}
blockquote:after 
{
    content: close-quote;
    font-size: 3em;
    line-height: 0.07em;
    margin-right: 0.25em;
    vertical-align: -0.47em;
}
img
{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}
.image-caption
{
    font-style: italic;
    width: 88%;
    margin-left: 6%;
    margin-right: 6%;
}
@media only screen and (max-width: 600px) {
    body {
      font-size: 14pt;
    }
  }